:host {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
}

.board {
    display: block;
    margin: auto;
    border-collapse: collapse;

    thead {
        tr {
            background-color: transparent;

            th {
                button {
                    margin-bottom: 2em;
                }

                .piece {
                    width: 5em;
                    height: 5em;
                    border: 3px solid rgba(128, 128, 128, 0.644);
                    margin-bottom: 2em;
                }
            }
        }
    }

    tr {
        background-color: blue;
        td,th {
            width: 4em;
            height: 4em;
    
            
        }
    }

    tfoot {
        tr {
            td {
                color: azure;
                
                h4 {
                    text-align: center;
                    font-size: 1.4em;
                }
            }
        }
    }
}

.piece {
    display: block;
    width: 2.5em;
    height: 2.5em;
    margin: auto;
    border-radius: 50%;
    background-color: azure;
    border: 2px solid rgba(128, 128, 128, 0.644);
}

.piece.red {
    background-color: red;
}

.piece.yellow {
    background-color: yellow;
}

@media(min-width: 1024px) {
    .piece {
        width: 3em;
        height: 3em;
    }
}