<table class="board" id="board">
    <thead>
        <tr>
            <th colspan="7">
                <button type="button" (click)="reset()">RESET</button>
                <i id="current-player-piece" class="piece" [ngClass]="currentPlayer?.color"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let boardCol of board; index as row;">
            <td *ngFor="let player of boardCol; index as col;">
                <i class="piece" [ngClass]="player?.color" (click)="play(col)" (mouseenter)="toggleHighlight(col)" (mouseleave)="resetHighlight(col)"></i>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <h4 *ngIf="winner == undefined">Player {{ currentPlayer.id + 1 }}</h4>
                <h4 *ngIf="winner != undefined">
                    Player {{ winner.id + 1}} wins !
                </h4>
            </td>
        </tr>
    </tfoot>
</table>
